$customGradient: linear-gradient(
  11deg,
  #034b00 -0.43%,
  #125800 6.28%,
  #5d9600 38.9%,
  #93c300 64.8%,
  #b5df00 84.94%,
  #c2ea00 95.5%
);

$btnGradient-main: linear-gradient(180deg, #82d100 0%, #5d9600 100%);
$btnGradient-gray:linear-gradient(4deg, #BDBCBC 2.92%, #EBE8E8 118.17%);


$gray1 : #D9D9D9;
$gray2 : #DEDCDC;
$gray3 : #BFBFBF;
$gray4 : #747474;
$green1 : #93C300;
$green2 : #70B400;
